<div class="container-fluid">
  <div class="jumbotron" id="jumbo-form">
    <div class="row" id="form-username">
      <div class="col-md-12" id="search-username">
      <form>
        <div class="form-group">
          <label for="username" id="form-label">Search By Username</label>
          <input type="text" class="form-control" id="username" placeholder="Search by Username">
          <button type="submit" class="btn btn-default">Search User</button>
        </div>
      </form>
      </div>
    </div>
    <div class="row" id="form-repository">
      <div class="col-md-12" id="search-repository">
      <form>
        <div class="form-group">
          <label for="repository" id="form-label">Search By Repository Name</label>
          <input type="text" class="form-control" id="repository" placeholder="Search by Repository Name">
          <button type="submit" class="btn btn-default">Search Repository</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
