<div class="container-fluid">
  <div class="jumbotron-fluid">
    <div class="row">
      <h2>Search By Username</h2>
      <form>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Search by Username">
        </div>
      </form>
    </div>
    <div class="row">
      <h2>Search By Repository Name</h2>
      <form>
        <div class="form-group">
          <label for="repository"></label>
          <input type="text" class="form-control" id="repository" placeholder="Search by Repository Name">
        </div>
      </form>
    </div>
  </div>
</div>
