<div class="container">
  <div class="jumbotron" id="samsoluoch">
    <div class="row">
      <div class="col-md-12">
        <h2>Sam Oluoch</h2>
        <h3><strong>GitHub Profile</strong></h3>
        <h4><footer><cite><strong>Profile Last Updated On:</strong> {{samsoluoch.updated_at|date}}</cite></footer></h4>
        <img src="{{samsoluoch.profile}}" alt="">
        <h4><footer><cite><strong>GitHub Username:</strong> {{samsoluoch.login}}</cite></footer></h4>
        <h4><footer><cite><strong>Public Repositories:</strong> {{samsoluoch.public_repos}}</cite></footer></h4>
        <h4><footer><cite><strong>Link to Profile:</strong> {{samsoluoch.html_url}}</cite></footer></h4>
        <p>{{samsoluoch.updated_at}}</p>
        <p>This profile will be updated again in {{samsoluoch.updated_at|dateCount}} days</p>
      </div>
    </div>
  </div>
</div>
