<div class="container">
  <div class="jumbotron" id="samsoluoch">
    <div class="row">
      <div class="col-md-12">
        <h2>Sam Oluoch</h2>
        <h5><strong>GitHub Profile</strong></h5>
        <img src="{{samsoluoch.profile}}" alt="">
<footer><cite>GitHub Username: {{samsoluoch.login}}</cite></footer>
<footer><cite>Public Repositories: {{samsoluoch.public_repos}}</cite></footer>
<footer><cite>Public Repositories: {{samsoluoch.repos_url}}</cite></footer>

      </div>
    </div>
  </div>
</div>
